In [2]:
import pandas as pd

### 데이터 프레임을 사용자 지정하여 직접입력하는 case

In [2]:
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100, 20]})

In [3]:
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

### 데이터 프레임내의 값에 접근

In [5]:
df['english'] #전체 컬럼을 출력
 #컬럼 중 첫번째 요소 출력

90

### 시리즈 여러개가 모여 데이터프레임이 된다

In [8]:
type(df['english'])

pandas.core.series.Series

### series type은 리스트 처럼 접근가능하다
- 유사점:  

    - 순서가 있는 데이터: 둘 다 순서가 있는 데이터 구조입니다. 즉, 요소들이 순서대로 저장됩니다.  
    - 인덱싱: 리스트와 Series 모두 요소에 접근할 때 인덱스를 사용합니다.  
- 차이점:  

    - 데이터 타입: 리스트는 파이썬 내장 데이터 타입으로, 서로 다른 데이터 타입의 요소를 포함할 수 있습니다. 반면에 Series는 Pandas의 데이터 타입으로, 일반적으로 모든 요소가 동일한 데이터 타입을 갖습니다.  
    - 메서드와 속성: Series는 리스트와 달리 다양한 메서드와 속성을 제공합니다. 이를 통해 데이터를 더 효과적으로 조작하고 분석할 수 있습니다. 예를 들어, Series에는 평균, 합계, 중간값과 같은 통계 메서드가 내장되어 있습니다.

In [9]:
df['english'][0]

90

### 엑셀파일 import
파라미터 설명 => https://lifelong-education-dr-kim.tistory.com/entry/%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%8C%8C%EC%9D%BC%EC%9D%84-%EB%B6%88%EB%9F%AC%EC%98%A4%EB%8A%94-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98-readexcel-%ED%95%A8%EC%88%98-%EB%82%B4%EC%9A%A9-%EC%A0%95%EB%A6%AC

In [3]:
exam_excel=pd.read_excel('../Data/excel_exam.xlsx',sheet_name='Sheet1')

In [4]:
exam_excel

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 데이터 프레임의 row수 , column 수 구하기

In [10]:
print(exam_excel.shape[0],exam_excel.index)
exam_row=len(exam_excel)
exam_row

20 RangeIndex(start=0, stop=20, step=1)

20

In [9]:
print(exam_excel.columns)
exam_excel.shape[1]
exam_column=len(exam_excel.columns)
print(exam_column)

Index(['id', 'nclass', 'math', 'english', 'science'], dtype='object')
5

### 데이터 프레임을 csv파일로 저장하기
- dataframe에는 기본적으로 인덱스 정보가 있기 때문에 index=False 조건을 통해서 없애서 저장

In [11]:
exam_excel.to_csv('exam_csv.csv',index=False)

### 데이터 프레임의 컬럼명을 바꾸거나 , 전처리 및 슬라이싱을 할때  
**원본데이터손상주의**  
- df.copy()해서 객체를 하나 더 만들어서 사용

In [3]:
df_mpg=pd.read_csv('../Data/mpg.csv')
df_mpg_copy=df_mpg.copy()
df_mpg_copy=df_mpg_copy.rename(columns={'cty':'city'})
df_mpg_copy=df_mpg_copy.rename(columns={'hwy':'highway'})

In [4]:
df_mpg_copy.loc[:,['city','highway']]

     city  highway
0      18       29
1      21       29
2      20       31
3      21       30
4      16       26
..    ...      ...
229    19       28
230    21       29
231    16       26
232    18       26
233    17       26

[234 rows x 2 columns]

### 파생변수 생성

- 0.합칠 cty hwy 컬럼내에 null값이 있는지 체크하고 있다면 그것을 그 컬럼 전체의 중간값으로 대체한다.

In [8]:
df_mpg['cty'].isnull().sum()

0

In [9]:
df_mpg['hwy'].isnull().sum()

0

- 1.통합연비변수만들기    
(도심연비+고속도로연비 의 평균값으로 통합연비를 설정한다.)

In [ ]:
df_mpg['total']=(df_mpg['cty']+df_mpg['hwy'])/2