# Mission 2

- 첨부된 데이터는 다이어트 식품을 판매하는 어플리케이션 회사에서 나온 고객 결제 데이터 입니다. 고객들이 온라인 마케팅으로 유입된 채널에 따라, 결제를 완료한 고객도 있고, 유입이 되었으나 이탈한 고객도 있습니다. 이 데이터로 아래의 미션을 수행보세요.  
- 먼저 개인적으로 풀어본 다음, 팀별로 모여 문제를 풀어보세요.
- Chat GPT와 책, 유튜브 등 여러 자료를 활용하여 최대한 풀어보세요.
- 기한 : 2024년 5월 8일 23:59 까지
- 제출처 : woghkszhf@naver.com

### 1. 02_Data.csv파일을 불러와, df1으로 선언하고 데이터의 구조와 타입을 확인하시오.

In [1]:
import pandas as pd
df1 = pd.read_csv('02_Data.csv')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원코드        10000 non-null  object
 1   프로그램        10000 non-null  object
 2   상태          10000 non-null  object
 3   프로그램가격      10000 non-null  int64
 4   최종결제금액      10000 non-null  int64
 5   결제시각        10000 non-null  object
 6   결제유형        10000 non-null  object
 7   채널          10000 non-null  object
 8   보조식품가격      10000 non-null  int64
 9   보조식품(추가구매)  10000 non-null  object
dtypes: int64(3), object(7)
memory usage: 781.4+ KB

### 2. '프로그램가격'의 평균, 최대값, 최소값을 확인하시오.

In [2]:
df1['프로그램가격'].describe()

count     10000.000000
mean     107778.024000
std       17897.796506
min       44780.000000
25%      112500.000000
50%      112500.000000
75%      112500.000000
max      177000.000000
Name: 프로그램가격, dtype: float64

### 3. '채널'의 항목과 빈도수를 확인하고, '채널'별 '최종결제금액'의 합을 계산하여, result1.xlsx로 저장하시오.

In [3]:
df1['채널'].value_counts()

facebook     6880
others       1390
naver        1009
direct        297
email         271
google        120
instagram      33
Name: 채널, dtype: int64

In [15]:
df2 = df1.pivot_table(index = '채널', values = '최종결제금액', aggfunc = 'sum')
df2 = df2.sort_values(by='최종결제금액', ascending = False).reset_index()

df2.to_excel('result1.xlsx')
df2

          채널     최종결제금액
0   facebook  825136460
1     others  149349690
2      naver  111491750
3     direct   31337160
4      email   30655080
5     google   12663480
6  instagram    3562620

### 4. '채널'의 빈도수가 높은 상위 3개 항목을 뽑아, 해당 데이터의 '보조식품(추가구매)'에 따른 '최종결제금액'의 합과 평균을 계산하시오.

In [17]:
tc = df1['채널'].value_counts().head(3).index

threec = df1[df1['채널'].isin(tc)]
result = threec.groupby('보조식품(추가구매)')['최종결제금액'].agg(['sum', 'mean'])

print(result)

                  sum           mean
보조식품(추가구매)
구매안함        770197460  112766.831625
단백질보충제A      41403610  128983.208723
단백질보충제B       6962620  112300.322581
식이요법보조제A    199833090  126316.744627
식이요법보조제B     54792540  141217.886598
종합비타민A       12788580  133214.375000

### 5. '결제시각'데이터에서 날짜와 시간데이터를 나누어 데이터만 뽑아, '결제날짜'와 '결제시간'파생변수로 각각 선언하시오.

In [18]:
Date = df1['결제시각']
df1['결제날짜'] = df1['결제시각'].str.slice(start=0, stop=10)
df1['결제시간'] = df1['결제시각'].str.slice(start=10)

df1

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),결제날짜,결제시간
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 오후 7:03:29.976000,Recurring,others,0,구매안함,2017-04-14,오후 7:03:29.976000
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 오후 8:53:54.368000,Recurring,others,0,구매안함,2017-05-23,오후 8:53:54.368000
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 오후 11:39:21.840000,Recurring,facebook,17000,식이요법보조제A,2017-08-23,오후 11:39:21.840000
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 오후 8:18:22.824000,Recurring,naver,0,구매안함,2017-08-28,오후 8:18:22.824000
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 오후 5:50:30.944000,Recurring,facebook,0,구매안함,2017-05-07,오후 5:50:30.944000
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,118AFCQ9,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-18 오전 12:43:58.104000,Recurring,facebook,0,구매안함,2017-04-18,오전 12:43:58.104000
9996,VDE8FXV9,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-16 오전 10:03:10.136000,Recurring,facebook,17000,식이요법보조제A,2017-08-16,오전 10:03:10.136000
9997,VWJ4NLZY,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-09 오전 11:47:55.408000,Recurring,facebook,17000,식이요법보조제A,2017-08-09,오전 11:47:55.408000
9998,NJ2PR967,체중감량 프로그램 (타입B),cancelled,112500,129500,2017-04-28 오전 7:05:19.776000,Recurring,facebook,0,구매안함,2017-04-28,오전 7:05:19.776000
9999,KVX64CPM,체중감량 프로그램 (타입 A),cancelled,112500,112500,2017-06-02 오전 10:16:34.576000,Recurring,others,0,구매안함,2017-06-02,오전 10:16:34.576000

### 6. 앞서 추출된 '결제날짜'데이터를 이용하여, '연도' / '월' / '일' 데이터를 추출하시오.

In [19]:
df1['결제날짜'] = pd.to_datetime(df1['결제날짜'])

df1['Year'] = df1['결제날짜'].dt.year
df1['Month'] = df1['결제날짜'].dt.month
df1['Day'] = df1['결제날짜'].dt.day

df1

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),결제날짜,결제시간,Year,Month,Day
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 오후 7:03:29.976000,Recurring,others,0,구매안함,2017-04-14,오후 7:03:29.976000,2017,4,14
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 오후 8:53:54.368000,Recurring,others,0,구매안함,2017-05-23,오후 8:53:54.368000,2017,5,23
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 오후 11:39:21.840000,Recurring,facebook,17000,식이요법보조제A,2017-08-23,오후 11:39:21.840000,2017,8,23
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 오후 8:18:22.824000,Recurring,naver,0,구매안함,2017-08-28,오후 8:18:22.824000,2017,8,28
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 오후 5:50:30.944000,Recurring,facebook,0,구매안함,2017-05-07,오후 5:50:30.944000,2017,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,118AFCQ9,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-18 오전 12:43:58.104000,Recurring,facebook,0,구매안함,2017-04-18,오전 12:43:58.104000,2017,4,18
9996,VDE8FXV9,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-16 오전 10:03:10.136000,Recurring,facebook,17000,식이요법보조제A,2017-08-16,오전 10:03:10.136000,2017,8,16
9997,VWJ4NLZY,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-09 오전 11:47:55.408000,Recurring,facebook,17000,식이요법보조제A,2017-08-09,오전 11:47:55.408000,2017,8,9
9998,NJ2PR967,체중감량 프로그램 (타입B),cancelled,112500,129500,2017-04-28 오전 7:05:19.776000,Recurring,facebook,0,구매안함,2017-04-28,오전 7:05:19.776000,2017,4,28
9999,KVX64CPM,체중감량 프로그램 (타입 A),cancelled,112500,112500,2017-06-02 오전 10:16:34.576000,Recurring,others,0,구매안함,2017-06-02,오전 10:16:34.576000,2017,6,2

### 7. 결제 '월'별 '최종결제금액'의 합을 계산하시오.

In [20]:
df1.pivot_table(index = 'Month', values = '최종결제금액', aggfunc = 'sum').reset_index()

   Month     최종결제금액
0      3   67579200
1      4  133340640
2      5  185577300
3      6  203945100
4      7  178364700
5      8  395389300

### 8. '최종결제금액'이 높은 30명의 고객 명단을 추출하여, result2.xlsx로 선언하시오.

In [21]:
df8 = df1.sort_values(by='최종결제금액', ascending = False).head(30)
df8.to_excel('result2.xlsx')
df8

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),결제날짜,결제시간,Year,Month,Day
4165,35OZZBQ9,체중감량 프로그램 (타입 A),completed,177000,210000,2017-06-03 오후 7:29:35.368000,Recurring,facebook,33000,식이요법보조제B,2017-06-03,오후 7:29:35.368000,2017,6,3
8057,D8V97HTG,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 6:18:14.296000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 6:18:14.296000,2017,6,3
8220,FY0Y87PN,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오전 7:57:34.680000,Recurring,facebook,0,구매안함,2017-06-03,오전 7:57:34.680000,2017,6,3
4402,RU2MHVDS,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 6:16:21.296000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 6:16:21.296000,2017,6,3
3328,TTFOV4HW,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오후 10:01:39.408000,Recurring,facebook,0,구매안함,2017-06-03,오후 10:01:39.408000,2017,6,3
3660,E6CNFZUN,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오전 7:41:43.680000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오전 7:41:43.680000,2017,6,3
3950,QHLHEWLK,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오전 2:24:18.776000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오전 2:24:18.776000,2017,6,3
7808,UPGM7P9G,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 12:04:12.048000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 12:04:12.048000,2017,6,3
2736,27QV33L6,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오후 9:49:06.408000,Recurring,facebook,0,구매안함,2017-06-03,오후 9:49:06.408000,2017,6,3
3471,CR33FGED,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오후 6:06:02.296000,Recurring,facebook,0,구매안함,2017-06-03,오후 6:06:02.296000,2017,6,3
7911,GRYDUHGT,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오후 12:01:26.048000,Recurring,facebook,0,구매안함,2017-06-03,오후 12:01:26.048000,2017,6,3
2581,SPBGROKC,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-03 오전 2:24:29.776000,Recurring,facebook,0,구매안함,2017-06-03,오전 2:24:29.776000,2017,6,3
4928,JDH0HI93,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-05 오후 1:27:24.872000,Recurring,facebook,17000,식이요법보조제A,2017-06-05,오후 1:27:24.872000,2017,6,5
6525,3B91KE6E,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오전 2:15:59.776000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오전 2:15:59.776000,2017,6,3
4947,GTA7TYEC,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 5:31:38.335999,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 5:31:38.335999,2017,6,3
1308,6P4UG7M5,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 6:11:08.296000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 6:11:08.296000,2017,6,3
3111,YOPSJCNI,체중감량 프로그램 (타입 A),completed,177000,194000,2017-06-03 오후 3:05:39.368000,Recurring,facebook,17000,식이요법보조제A,2017-06-03,오후 3:05:39.368000,2017,6,3
4006,FRM4EROO,체중감량 프로그램 (타입 A),cancelled,177000,194000,2017-06-04 오전 10:33:32.040000,Recurring,facebook,0,구매안함,2017-06-04,오전 10:33:32.040000,2017,6,4
8683,7V7E8NL3,체중감량 프로그램 (타입B),completed,168750,185750,2017-04-26 오후 9:45:31.232000,Recurring,facebook,17000,식이요법보조제A,2017-04-26,오후 9:45:31.232000,2017,4,26
4382,ONG38KK6,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-04 오전 5:23:40.976000,Recurring,others,0,구매안함,2017-06-04,오전 5:23:40.976000,2017,6,4
7840,458433H5,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-04 오후 10:39:42.672000,Recurring,facebook,0,구매안함,2017-06-04,오후 10:39:42.672000,2017,6,4
5145,G1EFPB2Q,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-05 오전 2:32:04.384000,Recurring,others,0,구매안함,2017-06-05,오전 2:32:04.384000,2017,6,5
9373,1F1Y479Z,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-05 오전 2:33:19.384000,Recurring,others,0,구매안함,2017-06-05,오전 2:33:19.384000,2017,6,5
1498,QUCDJ17Y,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-05 오전 2:23:01.384000,Recurring,others,0,구매안함,2017-06-05,오전 2:23:01.384000,2017,6,5
384,22D85G74,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-03 오후 7:31:44.368000,Recurring,facebook,0,구매안함,2017-06-03,오후 7:31:44.368000,2017,6,3
8303,6KSV5ZJS,체중감량 프로그램 (타입 A),completed,177000,177000,2017-06-03 오후 7:23:06.368000,Recurring,facebook,0,구매안함,2017-06-03,오후 7:23:06.368000,2017,6,3
1617,DF8MN951,체중감량 프로그램 (타입B),completed,168750,168750,2017-04-25 오후 8:40:22.048000,Recurring,others,0,구매안함,2017-04-25,오후 8:40:22.048000,2017,4,25
5426,FRKM9IBG,체중감량 프로그램 (타입 A),completed,132000,165000,2017-08-29 오후 8:23:14.200000,Recurring,facebook,33000,식이요법보조제B,2017-08-29,오후 8:23:14.200000,2017,8,29
4680,62I4OHDV,체중감량 프로그램 (타입 A),completed,132000,165000,2017-08-28 오후 8:09:39.216000,Recurring,facebook,33000,식이요법보조제B,2017-08-28,오후 8:09:39.216000,2017,8,28
6186,GMJ1BVGE,체중감량 프로그램 (타입 A),refunded,132000,165000,2017-08-24 오전 11:24:17.656000,Recurring,facebook,33000,식이요법보조제B,2017-08-24,오전 11:24:17.656000,2017,8,24

In [22]:
df1[['회원코드', '최종결제금액']].sort_values(by = '최종결제금액', ascending = False).head(30)

          회원코드  최종결제금액
4165  35OZZBQ9  210000
8057  D8V97HTG  194000
8220  FY0Y87PN  194000
4402  RU2MHVDS  194000
3328  TTFOV4HW  194000
3660  E6CNFZUN  194000
3950  QHLHEWLK  194000
7808  UPGM7P9G  194000
2736  27QV33L6  194000
3471  CR33FGED  194000
7911  GRYDUHGT  194000
2581  SPBGROKC  194000
4928  JDH0HI93  194000
6525  3B91KE6E  194000
4947  GTA7TYEC  194000
1308  6P4UG7M5  194000
3111  YOPSJCNI  194000
4006  FRM4EROO  194000
8683  7V7E8NL3  185750
4382  ONG38KK6  177000
7840  458433H5  177000
5145  G1EFPB2Q  177000
9373  1F1Y479Z  177000
1498  QUCDJ17Y  177000
384   22D85G74  177000
8303  6KSV5ZJS  177000
1617  DF8MN951  168750
5426  FRKM9IBG  165000
4680  62I4OHDV  165000
6186  GMJ1BVGE  165000

### 9. '상태'가 completed에 해당하는 데이터만 뽑아, '채널'별 '최종결제금액'의 합을 계산하시오.

In [23]:
df9 = df1.query('상태 == "completed"')
df9.pivot_table(index = '채널', values = '최종결제금액', aggfunc = 'sum').reset_index()

          채널     최종결제금액
0     direct   17538760
1      email   17475380
2   facebook  437954060
3     google    7017240
4  instagram    1890780
5      naver   63103330
6     others   83813430

In [24]:
df1.query('상태 == "completed"')\
    .groupby('채널')\
    .agg(sum = ('최종결제금액', 'sum'))\
    .sort_values('sum', ascending = False)\
    .reset_index()

          채널        sum
0   facebook  437954060
1     others   83813430
2      naver   63103330
3     direct   17538760
4      email   17475380
5     google    7017240
6  instagram    1890780